<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>STUDY</title>
</head>

<body>
    {% if story%}
    <a href="/" style="padding: 20px;">HOME</a>
    <div id="stry_1">
        <h1 id="stry_head">
            STUDY </h1>
        <p id="stry_body">
            {{story}}
        </p>
    </div>
    <div>
        <hr>
        <h1 style="text-align: center;"><u>ASSESSMENT</u></h1>
        <div id="stry_2">
            <h3 id="stry_head">
                INSTRUCTIONS </h3>
            <p id="stry_body">
                Within the proceeding page, you will be asssed based on the study above.
                You are therefore advised to read the instructions below carefull before proceeding
                to take the assessment.
            <ol style="text-align: left;">
                <li>
                    There are 10 questions in all (5marks each)
                </li>
                <li>
                    You have 120 seconds (2mins) to answer all questions
                </li>
                <li>
                    Once you select your answer, you will Automatically see the next question
                </li>

                <li>
                    Threshold Score for Successful Candidates starts at <b>75%</b>.
                </li>
                <li>
                    Read carefully Before picking your answers
                </li>

                <li>
                    When you are ready, click the START Button below to begin.
                </li>

            </ol>
            <h3>NOTE!</h3>
            <ol style="text-align: left;">
                <li>
                    You must focus your Mouse only within the Area of the Assessments.
                </li>
                <li>
                    Do Not click or open Another tab during assessment
                </li>
                <li>
                    Do not Reload or Navigate from the Page
                </li>
                <li>
                    Do not try to inspect or checkout the view source of the page
                </li>


                <h4 style="color: rgb(252, 26, 6); ">
                    <marquee behavior="" direction="">
                        Any attempt to violate the instructions above will automatically close the assessment
                        window
                        and flag you for malpractise
                    </marquee>
                </h4>

            </ol>
            </p>
        </div>

        <div style="text-align: center; padding-bottom: 20px;">
            <a href="/questions/">
                <button id="btn_s">&ensp; START &ensp;</button>

                <p>
                    <i>Good Luck!</i>
                </p>
            </a>
        </div>
        {% else%}
        <div style="text-align: center;">
            <h1>
                PROCESS ERROR
            </h1>
            <a href="">Click here for Support</a>

        </div>
        {% endif%}
</body>

</html>